.background{
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1503863627916-deb1706f5b79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.continer{
    margin: 30px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,4,10, 0.6); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-family: fantasy;
    
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
}
.button {
    transition-duration: 0.6s;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: rgba(15, 1, 1, 0.4);
    color: rgb(244, 241, 241);
    
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
}
  
  .button:hover {
    background-color: #c28d47; 
    color: rgb(6, 4, 0);
    padding-right: 26px;
  }
  