{% extends 'base.html' %}

    {% block content %}
    <div style="display: flex; gap: 50px; margin-top: 110px;">

        {% for event in events %}
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text"></p>
            <div>
                {% if request.user.is_authenticated %}
                <a href="{% url 'booking' %}" class="btn btn-primary">Booking</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Booking</a>
                {% endif %}
            </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %} 

