{% extends 'base.html' %}

    {% block content %}
    <div style="background-color:navajowhite;">
        <h5 style="color: crimson;padding: 15px; font-size:16px; font-family: 'Courier New', Courier, monospace;"> welcome {{user.username}}</h5>
    {% if events %}
    <div>
        <div class="card-group container text-center  ">
            <div class="row">
               
            
                <div class="card container text-center ">
            {% for event in events %}
            
            
        


        
            <div class="col p-15 m-0.5" style="padding: 2px; margin: 20px;">
            <img src="{{event.image.url}}" class="card-img-top" style="width: 40%;" alt="{event.name}}">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <p class="card-text">Avalible seats :{{event.available_seats}}</p>
              {% if request.user.is_authenticated %}
              {% if user.is_staff %}
              <a href="{% url 'update-events' id=event.id %}">
                  <button type="submit">update</button></a>
                  {% endif %}
                  <a href="{% url 'booking' id=event.id %}">
                      <button type="submit">Book Now!</button>
                  </a>
                  
                  {% else %}
                  <a href="{% url 'login' %}">
                      <button type="submit">Book Now!</button></a>
                      {% endif %}
                      {% endfor %}
                    
                    
                    
                    
            
          
          {% endif %}
        </div>
        
    </div>
    
    <br>

        
        
        
        
        
      
</div>
<footer>
    {% endblock %}
</footer>
 

