
    {% extends 'base.html' %}

    {% block content %}
    <div style="display: flex; gap: 50px; margin-top: 110px;">

        {% for event in eventArea %}
        <div class="card" style="width: 18rem; background-color: antiquewhite;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text"></p>
                <a href="{% url 'login' %}" class="btn btn-primary">Booking</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %} 
